/* 基本設定 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

* {
  font-family: 'Noto Sans JP', sans-serif;
}

/* レイアウト調整 */
.grid {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.center {
  text-align: center;
}

.center input {
  text-align: center;
}

/* コンポーネント調整 */
.card-content {
  padding: 1rem;
}
